<div class="item">
  <strong><p>Items attributes:</p></strong>
  <p><%= @item.name %></p>
  <p><%= @item.cost %></p>
  <p><strong>Item's project name: </strong><%= @item.project.name %></p>
</div>
<div class="manufacturer count">
  <strong><p>Manufacturer count:</p></strong>
  <p><%= @item.manufacturer_count %></p>
</div>
