<h1>Item info:</h1>
<h2>Name: <%= @item.name %></h2>
<h2>Cost: <%= @item.cost %></h2>
<h2>Project: <%= @item.project.name %>
  <hr>

<h3>Manufactureres of this item: <%= @item.item_made_by_manufacturers %></h3>
