<h1>Item Show Page</h1>

Item Name: <%= @item.name %><br>
Item Cost in Cents: <%= @item.cost %><br>
Project Name: <%= @project_name %><br>
Number of Manufacturers For This Item: <%= @item.count_of_manufacturers %>
